
{% extends theme("base.html") %}

{% set meta = {
    'title': _('Luxembourg\'s open data publication guidelines'),
    'description': "",
    'keywords': [
        _('guidelines'),
        _('publication'),
    ],
} %}

{% block content %}
<section class="content" style="margin-bottom:25px">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12">
                Under construction :-)
            </div>
        </div>
    </div>
</section>
{% endblock %}