/**
* Generic
**************/
// https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
// Used to prevent logo text to be selected
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.markdown {
    a {
        text-decoration: underline;
    }
}



/**
* Logos
**************/
.fr-header__logo {
    order: 0;
    svg {
        width: 150px;
        height: 80px;
    }
}

.logo-slogan {
    color: #797676;
    margin: 10px 0 0 15px;
    padding-left: 15px;
    border-left: 1px solid #b92a23;
    width: 330px;
    font-size: 19px;
    line-height: 23px;
    white-space: pre-line;
    display:inline-block;
    height: 80%;
}

.logo-small {
    svg {
        width:80px;
        height:45px;
    }
}

/**
* Skiplink
**************/
  
.skiplink {
    transform: translate(-50%, -105%);
    position: absolute;
    left: 50%;
    transition: transform 0.3s;
    display:inline-block;
    padding: 9px;
    z-index:400000;
    color: #fff;
    border-radius: 4px;
    &:focus {            
        background:#fff;
        color: #b92a23;
        border: 1px solid black;
        transform: translate(-50%, 5%) !important;
    }
}

/**
* Breadcrumb
**************/

// make the text always visible (no elipsis)
.breadcrumbs{
    flex-wrap: wrap;
    li{
        max-width: initial;
        white-space: initial;
        text-overflow:ellipsis;
        }

}


/**
* Govbar
**************/

.govbar {
    background: #fff;
    border-bottom: 1px solid #cccaca;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    height: 46px;
    width: 100%;
    z-index: 30000
}

.govbar:after {
    content: "";
    display: table;
    clear: both
}

.govbar-logo {
    border: 0;
    float: left;
    padding: 3px 8px;
    background-image: initial;
}

.govbar-logo img {
    border: 0;
    display: block;
    height: 40px
}

@media (min-width:45em) {
    .govbar-logo {
        float: right
    }
}

@media print {
    .govbar {
        display: none !important
    }
}

// In mobile version, the modal has to be below the govbar
.fr-modal--opened {
    top: 45px; // govbar height
}


/**
* Text
**************/

h1 {
    margin-top: 35px;
}

h2 {
    margin-top: 25px;
}

h1,h2,.fs-hg.f-bold {
    font-family: 'Montserrat',sans-serif; 
}

.fs-hg.f-bold {
    font-weight: 700;
}


/**
* Custom cards
**************/
.custom-publied-by {
    .publied-by-name {
        text-decoration: underline;        
    }
    &:hover, &:focus {
        .publied-by-name {
            color:#e61111;
        }
    }
}


/**
* Faq html styles (remove when moved to .md)
**************/

.thumbnail {

    background-image: none;

    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;

    > img,
    a > img {
        margin-right: auto;
        margin-left: auto;
    }

    a&:hover,
    a&:focus,
    a&.active {
        border-color: #b92a23;
    }

    .caption {
        padding: 9px;
        color: #337ab7;
    }
}


.faq-home .faq-sections{
    display:flex;
    justify-content:space-between;
    flex-flow:row wrap;
    margin:0 -15px
}
@media screen and (max-width:767px){
    .faq-home .faq-sections{
        padding:0 15px
    }
}
.faq-home .faq-sections .faq-section{
    flex:1 0 200px;
    margin:15px
}
@media screen and (max-width:767px){
    .faq-home .faq-sections .faq-section{
        flex:1 0 100%;
        margin:0 0 15px
    }
}
.faq-home .faq-sections .faq-section .thumbnail{
    height:100%;
    margin:0;
    border:1px solid #236ab1
}
.faq-home .faq-sections .faq-section .thumbnail h3{
    color:#236ab1
}
.faq-home .faq-sections .faq-section .thumbnail:hover{
    border:1px solid #b92a23
}
.faq-home .faq-sections .faq-section .thumbnail:hover h3{
    color:#b92a23
}
.faq-home .faq-sections .faq-section .thumbnail .caption{
    text-align:center
}
.faq-content .back-link{
    font-weight:700;
    font-size:18px;
    margin:1em 0
}
.faq-content .edit-link{
    margin:1em 0
}

.fr-header__tools-links {
    .fr-link {
        &.current-lang {
            background-color: #eee;
            cursor:initial;
            color:black;
        }
    }
}

.lux-logo-wrapper{
    display:flex;
    margin-top: 0;
    margin-bottom: 0;
    font-family: arial;
    outline-width: 0;
    font-weight: initial;
}

.fr-header__service{
    box-shadow: none;
}


/**
* Language switch adaptation
**************/
#mobile-langs {
    display:none;

    > li {
        
        &:not(:first-child) {
            margin-left: 7px;
            padding-left: 7px;
            border-left: 1px solid #acacac;   
        }

        > a {
            display:inline-block;
            padding: 0 5px;
            &.current-lang{
                background-color: #eee !important;
                color: black;
            }
        }

        :hover{
            background-color: #f6f6f6;
        }
    }

    @media screen and (max-width: 63em) {
        display:flex !important;
    }
}

.desktop-lang {
    @media screen and (max-width: 63em) {
        display:none !important;
    }
}

/**
* Responsiveness for logo, big red buttons
**************/

@media screen and (max-width: 63em) {

    .fr-header__brand-top{
        overflow:hidden !important;
    }

    .fr-header__service {
        margin-left: 0;
    }
    .logo-slogan{
        font-size: 12px !important;
        width: 218px !important;
    }

    .fr-header__logo {
        padding-right:0;
        svg {
            height: 62px;
            width: 130px;
        }
    }
    .fr-header__service {
        a {
            font-size: 17px;
            line-height: 17px;
        }
    }
    .fr-header__navbar{
        position: absolute;
        right: 0;
    }

    // Fleches gros bouttons rouges plus à droite
    .btn-venti {
        padding-right:35px;
    }
    .btn-venti:after {
        right: calc(1.5rem - 20px);
    }
}
/* 
.fr-header__service {
    @media screen and (max-width: 422px) {
        display: none;
    }
} */

@media screen and (max-width: 390px) {
    .logo-slogan{
        /* display:none; */
        /* Must be displayed because of .fr-enlarge-link a:before which expands this link over the logo too */
        border: 0;
        margin: 0;
        padding: 0;
        color: transparent;
    }
}




/**
*  Aria-overrides
******************/

.image-hx {
    line-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0;
}

.as-h4{
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
}

.as-h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.as-p {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem;
    font-weight: inherit;
}

.as-summary {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.as-h4, .as-h3, .as-p, .as-summary {
    margin-top: 0;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
