<div class="bg-blue-400">
    <div class="fr-container fr-py-7w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle text-align-center-sm">
            <div class="fr-col-12 fr-col-sm-6 text-white filet filet-currentcolor">
                <h2 class="fr-h2 text-white fr-mb-2w">{{ _('Participate') }}</h2>
            </div>
            {% if not read_only_mode %}
            <ul class="fr-col-12 fr-col-sm-6 fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
                <li class="fr-col-12 fr-col-lg-6">
                    <a
                        href="{{ url_for('admin.index', path='dataset/new') }}"
                        class="fr-btn fr-btn--secondary fr-btn--secondary-white fr-icon-arrow-right-s-line fr-btn--icon-right"
                    >
                        {{ _('Publish a dataset') }}
                    </a>
                </li>
                <li class="fr-col-12 fr-col-lg-6">
                    <a
                        href="{{ url_for('admin.index', path='reuse/new') }}"
                        class="fr-btn fr-btn--secondary fr-btn--secondary-white fr-icon-arrow-right-s-line fr-btn--icon-right"
                    >
                        {{ _('Publish a reuse') }}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
